@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply w-wrapper h-full bg-wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}
.sidebar {
  @apply w-sidebar h-full bg-sidebar text-base;
}
.chat {
  @apply w-chat h-full bg-chat;
}

.lgon {
  @apply text-white font-regular text-lg;
}
.baseon {
  @apply text-white font-medium text-base;
}
.lfoff {
  @apply text-off font-medium text-lg;
}
.smoff {
  @apply text-off font-bold text-sm;
}
.des {
  @apply text-des font-regular text-lg;
}

@font-face {
  font-family: 'gg sans Medium';
  src: url('./styles/fonts/gg sans Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'gg sans Bold';
  src: url('./styles/fonts/gg sans Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'gg sans Regular';
  src: url('./styles/fonts/gg sans Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'gg sans SemiBold';
  src: url('./styles/fonts/gg sans SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoSansKR-VariableFont_wght';
  src: url('./styles/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
}
